name: Publish Package to npmjs

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Tests & Publish

    permissions:
      contents: read # For actions/checkout
      id-token: write # For actions/setup-node to authenticate with npm registry

    steps:
      - name: Cloning repo
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run tests
        run: npm run test

      - name: Publish package
        run: npm publish --provenance --access public
